@import url(https://fonts.googleapis.com/css?family=Nunito);

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    z-index: 5;
}

html {
    background-color: black;
    color: #eee;
}

#background{ 
    position: absolute;
    
    background-image: url("../img/candle.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    
    transition: opacity 1s;  
    
    width: 100%;
    height: 100%;
    
    top: 0px;
    left: 0px;
    
    z-index: -1;
    
    -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(5px);
}

@font-face {

    font-family: 'exmouth';

    src: url('../fonts/exmouth.ttf');

}

@font-face {

    font-family: 'NewspaperFont';

    src: url('../fonts/NewspaperFont.ttf');

}

::-webkit-scrollbar {
    width: 12px;
    background:#999;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background:#444;
}		

ul{
    list-style: none;
}

header {
    background-color:  rgba(0,0,0, 0.5);
    padding: 10px;

}

.left {
    float: left;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 30px;
}

.right {
    float: right;
    padding-right:  1%;
    padding-top: 1%;
}

.clear {
    clear: both;
}

#connection_form input, #connection_form button{
    border-radius: 10px;
    height: 20px;
    border: 1px solid black;
    padding-left: 5px;
    width: 150px;
    margin-left: 10px;
    color: black;
}

#map-container {
    width: 50vw;
    height: 80vh;
    float: left;
    box-shadow: 0px 2px 7px #444444;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 15px;
    color: black;
}

#popup {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(50,50,50, 0.9);
    width: 100%;
    height: 100%;
    z-index: 2000;
    color: black;
}

#popup #popup_content {
    
    border: 1px solid rgb(30,30,30);
    border-radius: 15px;
    background-color: white;
    width: 35%;
    max-height: 70%;
    margin: auto;
    margin-top: 7%;
    padding: 10px;
    overflow: scroll;
    color: black;
}

#search, #results {
    margin-left: 53%;
    padding: 10px;
    background-color: rgba(0,0,0, 0.5);
    margin-top: 25px;
    width: 43%;
}

#search > h3 {
    padding: 10px 15px 7px 15px; 
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 15px 'Bitter', serif;
    margin-top: 10px;
}

#search form{
    padding: 20px;
}

label { 
    display: inline-block;
    width: 210px;
    text-align: left;
}

a:link, li[id^="page_"] {
    color: #fff;
    text-decoration: none;
}
a:visited {
    color: #fff;
    text-decoration: none;
}
a:active {
    color: #fff;
    text-decoration: none;
}
a:hover, li[id^="page_"]:hover {
    color: #aaa;
    text-decoration: none;
}

#inscrire{
    padding-left: 3%;
}

.input{
    background-color: rgba(0,0,0,0.2);
    border-style: outset solid;
    border-color: black;
}

li[id^="page_"] {
    display: inline-block;
    margin: 3px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
li[id^="page_"].active{
    text-decoration: none;
    cursor: default;
}

#results ul#events_list li{
    padding: 2px;
}

#message-search, #events_list {
    margin-bottom: 15px;
}

.underline {
    text-decoration: underline;
    margin-bottom: 10px;
}

button[id^="seeevent"] {
    width: 50px;
    border-radius: 10px;
    margin-left: 10px;
    color: black;
}  

#pages {
    text-align: center;
    
}

#inscription {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

.clear {
    clear: both;
}

#inscrire{
    padding-left: 3%;
}

#form {
    text-align: center;
    
}

#register_traitement, #profil, #credits {
    text-align: center;
    margin-top: 40px;   
}

#register_traitement #reponseInscription, #profil #content, #credits #content {
    display: inline-block;
    margin-top: 20px;  
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
}

#form form input, input.input, textarea {
    color: white;
    width: 37%;
}

textarea {
    width: 90%;
}

.number {
  background-color: #555;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

input[id="register"], input#addButton {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #6D6C71;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #212123;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

input[id="register"]:active {
    background-color: #3C3B3F;
}

#eventHeader time {
    color: grey;
    font-size: 0.5em;
}

#eventTitle {
    text-align: center;
    margin-top: 20px;
    font-family: 'exmouth', serif;
    font-size: 5em;
    text-decoration: underline;
}

#eventText {
    padding: 10px 50px;
    padding-bottom: 30px;
}

#popup_content form {
    padding: 15px;
}

#popup_content form input, #popup_content form textarea{
    color: black;
}

#popup_content form input[type="text"] {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    border-bottom: 1px solid black;
}

label[for="description"] {
    margin-top: 20px;
}

#popup_content form textarea {
    background-color: rgba(0,0,0,0);
    border: 0px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 620px;
    height: 102px;
    resize: none;
}

#suppression {
    background-color: rgba(0,0,0,0);
    border: 0px;
    float: right;
    cursor: pointer;
    font-weight: bold;
}

.input.date{
    width: 50px;
    margin-right: 5px;
}

form#addEventForm div#map-container{
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}

p.tips#addEventTips {
    text-align: center;
}

#captchaEvent{
    display: block;
    margin: auto;
    margin-top: 5px;
}

#captchaInput {
    display: block;
    margin: auto;
    width: 195px;
}

#content table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid white;
}

#content table tr td{
    padding: 10px;
    border: 3px solid black;
}

#content table tr{
    color: black;
    
}

#content table tr:nth-child(2n+3){
    background-color: grey;
}

#content table tr:nth-child(2n){
    background-color: white;
}

#content table tr th {
    background-color: grey;
    color: rgb(100, 30, 80);
    padding: 3px;
    border: 3px solid black;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    bottom:0;
    width:100%;
}
