*{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed ;
}

ul{
    list-style: none;
}

.droite{

}

.gauche{
    position: absolute;
    left: 35%;
    top: 20%;


}

h1{
    position: relative;
    padding-top: 2%;
}

.droite{
    position: relative;
    padding: 1%;
}